header {
    z-index: 1;
}

.cards {
    width: 90%;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-container img {
    width: 95%;
    border-radius: 10px;
}

.img-container {
    overflow: hidden;
    margin: 0 auto;
    transition: 0.5s ease;
}

.cards a {
    width: 48%;
    height: fit-content;
    margin: 10px;
    font-size: 2em;
    color: var(--textLight);
    text-decoration: none;
    display: block;
    background-color: var(--bgMain);
    border: 2px solid var(--bgBorder);
    border-radius: 20px;
    text-align: center;
    transition: 0.2s ease;
    padding-top: 10px;

    &:hover {
        background-color: var(--bgHoverMain);
    }
}

@media screen and (max-width:700px) {
    .cards a {
        width: 95%;
    }
}