:root {
    --bgLight: hsl(45, 100%, 97%);
    --bgEdgeLight: hsl(46, 100%, 88%);

    --textLight: hsl(45, 100%, 10%);
    --textHoverLight: hsl(209, 38%, 44%);
    --textDisabled: hsl(0, 0%, 44%);

    --bgMain: hsl(0, 0%, 100%);
    --bgHoverMain: hsl(45, 100%, 93%);
    --bgBorder: hsl(46, 100%, 83%);
}

:root[dataTheme="dark"] {
    --bgLight: hsl(45, 100%, 3%);
    --bgEdgeLight: hsl(45, 100%, 8%);

    --textLight: hsl(45, 100%, 90%);
    --textHoverLight: hsl(209, 38%, 66%);
    --textDisabled: hsl(0, 0%, 66%);

    --bgMain: hsl(0, 0%, 0%);
    --bgHoverMain: hsl(45, 100%, 7%);
    --bgBorder: hsl(46, 100%, 17%);
}

header {
    z-index: 1;
}

.cards {
    width: 90%;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.img-container img {
    width: 95%;
    border-radius: 10px;
}

.img-container {
    overflow: hidden;
    margin: 0 auto;
    transition: 0.5s ease;
}

.cards a {
    width: 48%;
    margin: 10px;
    font-size: 2em;
    color: var(--textLight);
    text-decoration: none;
    display: block;
    background-color: var(--bgMain);
    border: 2px solid var(--bgBorder);
    border-radius: 20px;
    text-align: center;
    transition: 0.2s ease;
    padding-top: 10px;

    &:hover {
        background-color: var(--bgHoverMain);
    }
}

@media screen and (max-width:700px) {
    .cards a {
        width: 95%;
    }
}